.section
  .form
    .form-header
      = fa_icon "search fw"
      = @mission.description
    .form-body
      = form_tag(search_result_path(@mission), class: "form-horizontal") do
        - if @mission.has_params?
          - @mission.params.split(',').each do |param|
            .form-group
              = label :input, param.to_sym, param, class: "col-sm-2 control-label"
              .col-sm-4
                = text_field :input, param.to_sym, class: "form-control"
          .form-group
            .col-sm-offset-2.col-sm-2
              = submit_tag "查询", class: "btn btn-info btn-block"
        - else
          该功能不支持查询
