.wrapper
  = form_for(resource, as: resource_name, url: session_path(resource_name), html: { method: :post, class: "form-signin", role: "form"}) do |f|
    = devise_error_messages!
    %h2.form-signin-heading
    = f.email_field :email, class: "form-control", placeholder: "邮箱地址", autofocus: 'true'
    = f.password_field :password, class: "form-control", placeholder: "密码", autocomplete: 'off'
    - if devise_mapping.rememberable?
      .checkbox
        = f.label :remember_me do
          = f.check_box :remember_me
          记住帐号密码
        = link_to "没有帐号?", new_user_registration_path, class: "pull-right"
    = f.submit "登录", class: "btn btn-large btn-primary btn-block"
