= will_paginate @missions, :class => 'apple_pagination'
.section
  %table.table
    %thead
      %tr
        %th ID
        %th 功能
        %th 创建时间
        %th -
        %th -
    %tbody
      - @missions.each do |mission|
        %tr
          %td= mission.id
          %td= mission.description
          %td= mission.created_at.localtime.to_s(:db)
          %td= link_to '修改', edit_mission_path(mission)
          %td= link_to '删除', mission, :method => :delete, :data => { :confirm => 'Are you sure?' }
%br
= link_to '创建', new_mission_path, class: "btn btn-info"
