%p#notice= notice

%p
  %b Description:
  = @mission.description
%p
  %b Sql:
  = @mission.sql
%p
  %b Params:
  = @mission.params
%p
  %b Sql type:
  = @mission.sql_type
%p
  %b Multiple:
  = @mission.multiple

= link_to 'Edit', edit_mission_path(@mission)
\|
= link_to 'Back', missions_path
