!!!
%html
  %head
    %title Deepblue
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true
    = javascript_include_tag 'application', 'data-turbolinks-track' => true
    = csrf_meta_tags
  = render 'layouts/header'
  %body
    = render 'layouts/header'
    .row
      .col-lg-2
        - if user_signed_in?
          .menu
            = render partial: 'menus/menu', locals: { menus: Menu.roots }
      .col-lg-8
        -unless flash[:notice].nil?
          %div.section.alert.alert-success.alert-dismissible
            %button.close{'data-dismiss' => 'alert', type: 'button'}
              %span{'aria-hidden' => "true"}
                &times;
            = flash[:notice]
        -unless flash[:alert].nil?
          %div.section.alert.alert-warning.alert-dismissible
            %button.close{'data-dismiss' => 'alert', type: 'button'}
              %span{'aria-hidden' => "true"}
                &times;
            = flash[:alert]
        -unless flash[:danger].nil?
          %div.section.alert.alert-danger.alert-dismissible
            %button.close{'data-dismiss' => 'alert', type: 'button'}
              %span{'aria-hidden' => "true"}
                &times;
            = flash[:danger]
        = yield
      .col-lg-2
    = render 'layouts/footer'
    :javascript
      $(function () {
        $('#menu').metisMenu({
          toggle: false
        });
      });
