!!!
%html
  %head
    %title Deepblue
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true
    = javascript_include_tag 'application', 'data-turbolinks-track' => true
    = csrf_meta_tags
  = render 'layouts/header'
  %body
    = render 'layouts/header'
    .row
      .col-lg-2
      .col-lg-8
        = yield
      .col-lg-2
        %p.text-info
          = notice
        %p.text-warning
          = alert
    = render 'layouts/footer'
