!!!
%html
  %head
    %title Deepblue
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true
    = javascript_include_tag 'application', 'data-turbolinks-track' => true
    = csrf_meta_tags
  = render 'layouts/header'
  %body
    = render 'layouts/header'
    .row
      .col-lg-2
        - if user_signed_in?
          .menu
            = render partial: 'menus/menu', locals: { menus: Menu.roots }
      .col-lg-8
        = yield
      .col-lg-2
        %p.text-info
          = flash[:notice]
        %p.text-warning
          = flash[:alert]
        %p.text-danger
          = flash[:danger]
    = render 'layouts/footer'
    :javascript
      $(function () {
        $('#menu').metisMenu({
          toggle: false
        });
      });
